/* some style */

#target {
  border: 2px solid black;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  display: block;
}

.canvas {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  display: block;
  width: 510px;
}

.title {
  margin: auto;
}

#title-text {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 3em;
}

#start-button {
}

.the-button {
  position: absolute;
  left: 150px;
  top: 220px;
  font-size: 3em;
  padding: 15px;
  letter-spacing: 0.2em;
}

.hidden {
  display: none;
}

#points {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 2em;
}

input[type=button] {
  padding: 10px;
  font-family: 'Orbitron', sans-serif;
  background-color: #fff;
  font-size: 1.5em;
  width: 230px;
  color: #000
  background: #fff;
  height: 80px;
}
